---
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
# humanstxt.org
# humans txt

Author: {{global_index.author}}
Site: https://{{global_index.authorweb}}/
Twitter: @
Location: 


/* TEAM */
Author: {{global_index.author}}
Developer:{{global_index.author}}
Designer: {{global_index.author}}
Contact: {{global_index.author}}

/* THANKS */
Gracias a mi 

/* SITE */
Site:{{global_index.authorweb}}
Version: 1.0
