---
permalink: /site.webmanifest
eleventyExcludeFromCollections: true
---
{
  "name": "{{global_index.url}}",
  "short_name": "{{global_index.empresa}}",
  "icons": [
  { "src": "assets/static/favicons/android-icon-192x192.png", "sizes": "192x192", "type": "image/png" }  ],
  "theme_color": "{{global_index.c_primary}}",
  "background_color": "{{global_index.bg_light}}",
  "display": "standalone"
}