.accordion-wrap {
  .accordion {
    background-color: #ffffff80;
    overflow: hidden;
    transition: max-height 0.5s ease;
    max-height: 60px;
    border-radius: 14px;
    margin-bottom: 16px;
  }
  .active.accordion {
    max-height: 300px;
    color: $c-secondary;
  }
  .accordion-header {
    height: 40px;
    cursor: pointer;
  }

  .list-circle{
    transition: all .3s ease;
  }


}
.accordion-wrap.accordion-faqs {
  .accordion {
    transition: max-height 0.5s ease;
    max-height: 68px;
  }
  .active.accordion {
    max-height: 300px;
  }
  .accordion-inner{
    padding: 16px;
  }
  .active {
    .list-circle{
      transform: rotate(180deg);
    }

    .accordion-inner {
      padding: 16px;
      background-color: #fff;
      // svg {
      //   transform: rotate(0.5turn);
      //   color: white;
      //   g {
      //     stroke: white;
      //   }
      // }
    }

  }
}

.accordion-wrap.accordion-border {

  .accordion {
    border: 1px solid $c-middle-grey;
    padding: 16px;

  }




}

