<!-- benefits_2.njk -->
<section class="{{introbenefits_class}} pbr-120 ptr-120" aria-labelledby="seccion-valores">
  <div class="container-global-3 mx-auto   ">
    <div class="row pbr-120">
      <div class="col-xs-12 text-center">
        <p class="h5 title mb-16"> {{introbenefits_title | mdbr |safe}} </p>
        <h2 id="seccion-valores" class="h2 ttu">{{introbenefits_subtitle | mdbr |safe}} </h2>
      </div>
    </div>
    <div class="container-global-4 mx-auto">


      <div class="row ">
        <div class="col-xs-12  col-sm-4  flex-column is-flex  align-top   mb-24">
          <h3 class="mb-24 p2 title  "> {{introbenefits_1title | mdbr |safe}} </h3> {{introbenefits_1description | mdbr
          |safe}}
        </div>
        <div class="col-xs-12  col-sm-4  flex-column is-flex  align-top  mb-24">
          <h3 class=" mb-24 p2 title "> {{introbenefits_2title | mdbr |safe}}</h3> {{introbenefits_2description | mdbr
          |safe}}
        </div>
        <div class="col-xs-12  col-sm-4  flex-column is-flex  align-top   mb-24">
          <h3 class=" mb-24 p2 title "> {{introbenefits_3title | mdbr |safe}}</h3> {{introbenefits_3description | mdbr
          |safe}}
        </div>
      </div>

      {% if introbenefits_4title and introbenefits_4description %}

      <div class="row smmax:mt-0 mt-64 ">
        <div class="col-xs-12  col-sm-4  flex-column is-flex  align-top   mb-24">
          <h3 class="mb-24 p2 title "> {{introbenefits_4title | mdbr |safe}} </h3> {{introbenefits_4description | mdbr
          |safe}}
        </div>
        <div class="col-xs-12  col-sm-4  flex-column is-flex  align-top  mb-24">
          <h3 class=" mb-24 p2 title "> {{introbenefits_5title | mdbr |safe}}</h3> {{introbenefits_5description | mdbr
          |safe}}
        </div>
        <div class="col-xs-12  col-sm-4  flex-column is-flex  align-top   mb-24">
          <div class="p1">
            <h3 class=" mb-24 p2 title "> {{introbenefits_6title | mdbr |safe}}</h3> {{introbenefits_6description |
            mdbr |safe}}
          </div>
        </div>
      </div>
      {% endif %}


      {% if introbenefits_7title and introbenefits_7description %}

      <div class="row mt-64">
        <div class="col-xs-12  col-sm-4  flex-column is-flex  align-top   mb-24">
          <h3 class="mb-24 p2 title  "> {{introbenefits_7title | mdbr |safe}} </h3> {{introbenefits_7description | mdbr
          |safe}}
        </div>
        <div class="col-xs-12  col-sm-4  flex-column is-flex  align-top  mb-24">
          <h3 class="mb-24 p2 title "> {{introbenefits_8title | mdbr |safe}}</h3> {{introbenefits_8description | mdbr
          |safe}}
        </div>
        <div class="col-xs-12  col-sm-4  flex-column is-flex  align-top   mb-24">
          <h3 class="mb-24 p2 title "> {{introbenefits_9title | mdbr |safe}}</h3> {{introbenefits_9description | mdbr
          |safe}}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
