<!-- box_img.njk -->
<section class=" herohome inview  o-hidden   bg-hero  height-full p-relative  ">

    <div class="parallax-container">
        <div class="parallax-layer" data-speed="0.5">
            <img class="parallax-image" src="{{ box_img_img }}" alt="{{ box_img_title }}">
        </div>
    </div>


  <div class=" container-global mx-auto    ">
    <div class="row section-x  align-middle  height-full box_img ">
      <div class="col-xs-9 col-md-5 col-lg-5 height-sm  ">

      </div>

<div class="col-xs-12 col-md-1 col-lg-1 "></div>

      <div class="col-xs-12 col-md-6 col-lg-6 front-text is-flex content-end ">

        <div class="bg-white text-left p-24 mb-32 border-20 wmax-450">



          <div class="h4 mb-32 animate-word" data-delay="0">

            {{box_img_title}}
         
          </div>
          <div class="p1 mb-16 animate-word" data-delay="1">
     
          
            {{box_img_description}}
          </div>

    

     <div class="animate-box2  mt-24" data-delay="3">
        <a href="#contacta" >
          <button type="button" class="btn-black btn ">
            {{hero_btn}}
          </button>
        </a>
      </div> 


      {# <div class="content-middle mb-16 animate-box" data-delay="2">
        <div class="fluid-9-b">Excelente</div><img width="100px" class=""
          src="https://storage.googleapis.com/landing-strapi-v4/assets/svg/stars-giFRggf5fPfNiJXB7To2fd.svg"
          loading="lazy" alt="estrellas de Truspilot" height="100%" width="100%"
          srcset="https://storage.googleapis.com/landing-strapi-v4/assets/svg/stars-giFRggf5fPfNiJXB7To2fd.svg">
      </div> #}

      </div>


      </div>

    </div>
  </div>
</section>