<!-- clips_1.njk -->
<section class="ptr-120 pbr-120">
  <div class="container bg-light border-20 height-sm p-32">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="fluid-6-b mb-24">{{ clips_title }}</div>
        <div class="fluid-8-r mb-24">
          {{ clips_description }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <div class="ar-3-4">
          <iframe src="https://youtube.com/shorts/4KT9bH5yIBI?si=cqfQyNSK7JkewIsd" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="ar-3-4">
          <iframe src="https://youtube.com/shorts/4KT9bH5yIBI?si=-7JVUpSWsQRZkqX8" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="ar-3-4">
          <iframe src="https://youtube.com/shorts/iQlpQ-7Xs3s?si=ELeRW1_7u2J9JGEY" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="ar-3-4">
          <iframe src="https://youtube.com/shorts/iQlpQ-7Xs3s?si=rXQBDMD6Yzww6Xbe" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>