<!-- content_foto.njk -->
<section class="bg-color ">
  <div class="container  pb-64 ptr-120">
    <div class="row  ">


      <div class="col-xs-12 col-sm-3 front-text mb-32 sm:mb-0 ar-1-1">
        <div class="ar-1-1 o-hidden p-relative">
          <img class="parallax-image c-image"
            alt=" " src="{{ content_foto_img }}">
        </div>
      </div>


      <div class="col-xs-12 col-sm-3 front-text mb-32 sm:mb-0 ar-3-4">
        <div class="ar-3-4 o-hidden p-relative">
          <img class="parallax-image c-image"
            alt=" " src="{{ content_foto_img_2 }}">
        </div>
      </div>


      <div class="col-xs-12 col-sm-6 front-text  align-middle">
        <div class="wmax-450 mx-auto">
          <h4 class="h4 mb-24  "> {{ whytitle1_subtitle | mdbr | safe }}</h4>
          <h4 class="p1 mb-24 "> {{ whytitle1_description | mdbr | safe }}</h4>
          <a href="/contacta/"><button class="btn btn-primary"> Contacta con nosotros</button></a>
        </div>
      </div>
    </div>
</section>