<!-- footer_2.njk -->

<footer class=" front-section pb-32">
  <div class="container-fluid mx-auto  ">
    <div class="row text-12-r pb-16 ">
      <div class="col-xs-12 col-sm-4  text-center sm:text-left   ">
        <svg width="43" height="41" viewBox="0 0 43 41" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M40.552 28.8151V27.9487H40.5334V0H36.0143L21.5028 34.101L7.0258 0H2.44891V28.8151C2.44891 29.9574 1.35086 30.8869 0 30.8869V35.3732C3.87534 35.3732 7.02859 32.4313 7.02859 28.8151V18.3747L6.89985 11.8404L19.372 40.9982L23.6271 41L36.1608 11.7627L35.9723 18.3108V28.8141C35.9714 32.4304 39.1247 35.3722 43 35.3722V30.8859C41.6501 30.8859 40.5511 29.9565 40.5511 28.8141L40.552 28.8151Z"
            fill="#179CAA" />
        </svg>
      </div>
      <div class="col-xs-12 col-sm-4 text-center   ">
        <ul class="list-clear list-inline p3  ">
          <li> <a href="/legal/politica-de-privacidad">Política de Privacidad </a> </li>
          <li> <a href="/legal/aviso-legal"> Aviso Legal </a> </li>
          <li> <a href="/legal/cookies"> Política de Cookies </a> </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4  text-center sm:text-right   ">
        <div class="p3 pt-8 ">
          {{global_index.footer_3}}
        </div>
      </div>
    </div>
  </div>
</footer>