<!-- introCta_2.njk -->
<section class=" herohome inview  o-hidden   bg-hero bg-overlay height-full front-section align-multi-bottom "
 >
  <div class="video-bg2">
    {% if home_image %}
    {% if home_video %}
    <video>
      <source src="{{ home_video }}" type="video/mp4" />
    </video>
    {% else %}
    <img class="parallax-image">
    {% endif %}
    {% endif %}
  </div>


  <div class="  container-global mx-auto z-20 p-relative height-full align-multi-bottom is-flex   ">
    <pbr-64div class="row section-x     ">
      <div class="col-xs-12 col-md-6 pbr-200 ">
        <div class="vertical-wrap   ">
          <div class="fluid-8-r mb-16 animate-word has-light " data-delay="0">
      

            {{hero_description |mdbr |safe}}
          </div>
          <h1 class="h1 mb-24 animate-word has-light " data-delay=".2">

            {{hero_title |mdbr |safe}}

          </h1>
          <div class="animate-box2  " data-delay=".5">
      
              <button type="button" class="link_a_contacta_2 btn--big btn btn-frost text-12-r ">
       
                {{hero_btn |mdbr |safe}}
              </button>
          
          </div>
          {# <div class="content-middle mb-16 animate-box" data-delay="2">
            <div class="fluid-9-b">Excelente</div><img width="100px" class=""
              src="https://storage.googleapis.com/landing-strapi-v4/assets/svg/stars-giFRggf5fPfNiJXB7To2fd.svg"
              loading="lazy" alt="estrellas de Truspilot" height="100%" width="100%"
              srcset="https://storage.googleapis.com/landing-strapi-v4/assets/svg/stars-giFRggf5fPfNiJXB7To2fd.svg">
          </div> #}
        </div>
      </div>
      <div class="col-xs-6 col-md-6 col-lg-6 front-text ">
        {% if btn_whtasapp == 'on' %}
        <div class="main-full">
          <a aria-label="link whatsapp" href="https://wa.me/{{ whatsapp }}">
            <button class="btn btn-social btn-wechat btn--small text-14-b">
              <svg id="bubble-whatsapp-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 800">
                <path d="M519 454c4 2 7 10-1 31-6 16-33 29-49 29-96 0-189-113-189-167 0-26 9-39 18-48 8-9 14-10 18-10h12c4 0 9 0 13 10l19
      44c5 11-9 25-15 31-3 3-6 7-2 13 25 39 41 51 81 71 6 3 10 1 13-2l19-24c5-6 9-4 13-2zM401 200c-110 0-199 90-199 199
      0 68 35 113 35 113l-20 74 76-20s42 32 108 32c110 0 199-89 199-199 0-111-89-199-199-199zm0-40c133 0 239 108 239 239
      0 132-108 239-239 239-67 0-114-29-114-29l-127 33 34-124s-32-49-32-119c0-131 108-239 239-239z"></path>
              </svg>
              Solicita una visita via whatsapp
            </button>
          </a>
        </div>
        {% endif %}
        <div class="vertical-wrap">
          <div class="vertical-inner">
            <span class="text-14-r">
              {{ fecha }}
            </span>
          </div>
        </div>
      </div>




      {% if not noheroimage %}
      <div class="col-xs-12 col-sm-6 ">
        {% if imagemini %}
        <div class="rat-16-9">
          <div class="rat-content">
            <img class="video-cover" width="100%" height="auto" src="{{ imagemini }}" alt="{{ imageAlt }}" />
          </div>
        </div>
        {% elseif image %}
        <div class="rat-16-9">
          <div class="rat-content">
            <img class="video-cover" width="100%" height="auto" src=" {{ image }}" alt="{{ imageAlt }}" />
          </div>
        </div>
        {% endif %}
      </div>
      {% endif %}
    </pbr-64div>
  </div>
</section>