<!-- introBenefits_2.njk -->
<section class="bg-color  ptr-120 pbr-120 front-section o-hidden ">
  <div class="watermark">
    <?xml version="1.0" encoding="UTF-8"?>
    <svg id="Capa_2" data-name="Capa 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380.5 406.75">
      <defs>
        <style>
          .cls-1 {
            fill: #3db2ce;
          }
        </style>
      </defs>
      <g id="Capa_1-2" data-name="Capa 1">
        <g>
          <path class="cls-1" d="M171,126.76V30c0-16.57-13.43-30-30-30s-30,13.43-30,30v96.76h60Z"/>
          <path class="cls-1" d="M245.75,137.25H30c-16.57,0-30,13.43-30,30s13.43,30,30,30h215.75c41.22,0,74.75,33.53,74.75,74.75s-33.53,74.75-74.75,74.75-74.75-33.53-74.75-74.75v-64.47h-60v64.47c0,74.3,60.45,134.75,134.75,134.75s134.75-60.45,134.75-134.75-60.45-134.75-134.75-134.75Z"/>
        </g>
      </g>
    </svg>
  </div>
  <div class="container-global-3  mx-auto   ">
    <div class="row mb-32  inview">
      <div class="col-xs-12 col-lg-11 ">
        <div class="text-18-r c-accent mb-24">
          {{introbenefits2_subtitle}}
        </div>
        <div class="h3 ">
          {{ introbenefits2_content }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-6"></div>
      <div class="col-xs-11 col-lg-6">
        <div class="p1">
          {{introbenefits2_subcontent}}
        </div>
      </div>

      <div class="col-xs-11 col-lg-6">
        <div class="p1">
          {{introbenefits2_subcontent2}}
        </div>
      </div>
    </div>
  </div>
</section>