<!-- servicios_1.njk -->
<section class="bg-light  ptr-120 pbr-120 ">
  <div class="container-global mx-auto">
    <div class="row ">
      <div class="col-xs-12 col-sm-12 text-center">
        <h4 class="h5 mb-24 c-accent"> {{ servicios }} </h4>
        <h3 class="h2 mb-24"> {{ servicios_description }}</h3>
      </div>
    </div>


  </div>
    <div class="ov-hidden popular">
      <!-- Slider main container -->
      <div class="swiper-container-img">
        <!-- Additional required wrapper -->

        <ul class="swiper-wrapper my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
          <!-- Slides -->
          {% for item in global_index.services %}
            <li class="swiper-slide border-20" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
              <a class="slide-link" title="click to zoom-in" href="#" itemprop="contentUrl" data-size="1200x1200" aria-label="Haz clic para ampliar el servicio {{global_index.item.service_name}}">
        
                <div class="swiper-slide-info">
                  <div class="h4 mb-16">{{item.service_name}}</div>
                  <div class="p2">{{item.service_content}}</div>
                </div>
        
                <div class="ar-3-35">
                  <img class="parallax-box"
                       src="{{global_index. imageDir }}servicios/{{item.service_img}}.jpg"
                       itemprop="thumbnail"
                       alt="Imagen del servicio {{item.service_name}}" />
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
        



      </div>



   
          <div class="col-xs-6 col-sm-12"> </div>
          {# <div class="col-xs-6 col-sm-12 text-right">
            <div class="swiper-arrows-img">
              <button class="swiper-prev" aria-label="Anterior slide">
                <div> ← </div>
              </button>
              <button class="swiper-next" aria-label="Siguiente slide">
                <div>→ </div>
              </button>
            </div>
    
          </div> #}



  </div>


</section>